/* Photon style square tabs */
:root {
  --tab-block-margin: 0 !important;
  --tab-border-radius: 0 !important;
}
@media (-moz-platform: linux) {
  .tabbrowser-tab {
    height: calc(var(--tab-min-height) + 1px) !important;
  }
}
#tabbrowser-tabs {
  &[orient="horizontal"] {
    :root[uidensity="touch"] & .tabbrowser-tab {
      min-width: 0 !important;
    }
  }
}
#TabsToolbar-customization-target {
  height: var(--tab-min-height) !important;
  @media (-moz-platform: linux) {
    height: calc(var(--tab-min-height) + 1px) !important;
  }
}

/* Makes the tab photon-like + adds a transition */
.tab-close-button {
  transition: background 0.2s cubic-bezier(.07,.95,0,1) !important;
}
.tab-close-button {
  padding-inline: 4px !important;
  padding-block: 4px !important;
  width: 24px !important;
  height: 24px !important;
}
.tabbrowser-tab > .tab-stack > .tab-background {
  margin: 0 !important;
  box-shadow: none !important;
  transition: background 0.2s cubic-bezier(.07,.95,0,1) !important;
}
.tabbrowser-tab {
  padding: 0 !important;
}

/* Line to mark selected tab */
.tab-background:is([selected],[multiselected])::before,
.tabbrowser-tab:hover > stack > .tab-background::before{
  display: flex;
  height: 2px;
  content: "";
}
.tab-stack:hover > .tab-background::before{
  background-color: inherit;
}
.tab-stack > .tab-background:is([selected],[multiselected])::before{
  background-color: var(--custom-accent-color);
}
/* Photon-like tab on hover animation for the top line */
@keyframes tab-onhover-line-anim{ from{ margin-inline: 20px } to { margin-inline: 0 } }

.tab-stack:hover > .tab-background::before{ animation: tab-onhover-line-anim 160ms }

/* Disable animation for selected and pinned tabs */
.tabbrowser-tab:is([pinned],[selected],[multiselected]) > .tab-stack > .tab-background::before{ animation: none }

/* connect tab to toolbar */
.tab-background:is([selected]) {
  background-color: var(--toolbar-bgcolor) !important;
}

.tab-background,
#firefox-view-button image {
  outline: none !important;
}

/* tab separators */
#TabsToolbar .tabbrowser-tab:not([selected="true"]) .tab-stack::before {
  content: "";
  position: absolute;
  display: block;
  height: var(--tab-min-height);
  right: 0;
  border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
  z-index: 1;
}
.tabbrowser-tab:has(+ .tabbrowser-tab[selected="true"]:not([hidden])) .tab-stack::before,
tab-group:has(+ .tabbrowser-tab[selected="true"]:not([hidden])) .tabbrowser-tab:last-child .tab-stack::before,
:root #firefox-view-button[open] + #tabbrowser-tabs arrowscrollbox > :first-child:not([selected="true"]) .tab-stack::after,
:root #firefox-view-button[open]::before {
  border-right-color: transparent !important;
}

/* tab groups */
tab-group[collapsed] .tab-group-label-container {
  border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);
  .tab-group-label {
    outline: none !important;
  }
}
/* color transparent will leave a 1px gap */
tab-group[collapsed]:has(+ .tabbrowser-tab[selected="true"]:not([hidden])) .tab-group-label-container {
  border-right-color: var(--tab-group-color);
}
.tab-group-label {
  height: 100%;
  padding: 7px 7px !important;
}
.tab-group-label-container {
  margin-inline-start: 0px !important;
  padding-inline-end: 0px !important;
}
.tab-group-line {
  width: 100%;
}

/* remove space between pinned tabs and regular tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])[orient="horizontal"] > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0px !important;
}

/* square tab scroll buttons */
#scrollbutton-down, #scrollbutton-up {
  border: 0 !important;
  border-radius: var(--tab-border-radius) !important;
  padding: 6px !important;
}

/* change colour of indicator when creating a new tab while overflowing */
/* #scrollbutton-down is inside a shadow dom */
#tabbrowser-arrowscrollbox {
  --scrollbutton-bg: transparent;
}
#tabbrowser-arrowscrollbox[highlight] {
  --scrollbutton-bg: var(--custom-accent-color);
}
#scrollbutton-down:not(:hover) {
  background-color: var(--scrollbutton-bg) !important;
}

/* firefox view styling */
#tabbrowser-tabs {
  margin-inline-start: 0px !important;
  padding-inline-start: var(--tab-overflow-pinned-tabs-width) !important;
}
#firefox-view-button {
  padding: 0;
}
#firefox-view-button .toolbarbutton-icon {
  padding-left: calc(var(--toolbarbutton-inner-padding) + 1px) !important;
  padding-right: calc(var(--toolbarbutton-inner-padding) + 1px) !important;
  width: 36px !important;
}
