@import url(userVariables.css);
@import url(square-tabs.css);
@import url(menus.css);
@import url(csshacks/tab-closing-animation.css);
@import url(csshacks/tab-loading-indicator.css);
@import url(csshacks/iconized-main-menu.css);
@import url(csshacks/iconized-textbox-context-menu.css);
@import url(csshacks/iconized-tabs-context-menu.css);
@import url(csshacks/iconized-places-context-menu.css);
@import url(csshacks/iconized-content-context-menu.css);

/* urlbar border */
#urlbar:focus-within > .urlbar-background {
  border-color: var(--custom-accent-color) !important;
}
.urlbar-background {
  transition: border-color 0.5s ease !important;
  border-radius: 0px !important;
}
#urlbar:hover .urlbar-background {
  border-color: var(--custom-accent-color) !important;
}

/* nifty bookmark icon pulse effect */
#star-button {
  filter: drop-shadow(0 0 0 var(--toolbarbutton-icon-fill-attention));
}
#star-button[starred] {
  animation: pulse-shadow 0.5s ease;
}
@keyframes pulse-shadow {
  0% {
    filter: drop-shadow(0 0 0 var(--toolbarbutton-icon-fill-attention));
  }
  50% {
    filter: drop-shadow(0 0 3px var(--toolbarbutton-icon-fill-attention));
  }
  100% {
    filter: drop-shadow(0 0 0 var(--toolbarbutton-icon-fill-attention));
  }
}

/* hide adjacent menu separators (seen in bookmarks menu) */
menuseparator + menuseparator {
  display: none;
}
